@import './mixins/mixin.scss', './variables/variables.scss',
  './reset/reset.scss', './components/header.scss', './components/button.scss',
  './components/description.scss';
.body {
  display: flex;
  font-family: var(--font-montserrat);
  @include flex(column, nowrap, flex-start, center, 1em);
  background: $color-main;
  background: #fff;
}
.main {
  height: 100%;
  width: 100%;
  @include flex(column, nowrap, space-between, center, 0);
  &__section {
    width: 100%;
    max-width: $max-width-section;
    @include flex(row, nowrap, space-between, center, 0);
  }
  &__title {
    width: 20em;
    @include flex(column, nowrap, flex-start, flex-start, 1.5em);
  }
  &__h1 {
    font-size: 2.6em;
    color: $color-blue;
    font-weight: 700;
  }
  &__span {
    color: $color-orange;
  }
  &__image {
    // object-fit: contain;
  }
  &__p {
    color: $color-gray-text;
    font-weight: 600;
    width: 16em;
  }
  &__description {
    width: 100%;
    padding: 0 0 3.8em 0;
    max-width: $max-width-section;
    @include flex(row, nowrap, space-between, center, 0);
  }
}
