$background: #f7f7f7;
$yello: #f2b237;
$gray: #9aaeb8;
$green: #2cb1ac;
$shadow: #0f202a;
// $shadow-yello: #cc8b13;
// $buttons: #1f3540;
$color-hover--list: #f2f2f2;
$color-dark: #3d464d;
$color-text: #3d464dd1;
$color-li: #262626;
$color-drop-gray: #b2b2b2;
$color-quotes: #007bff;
$color-transparent: #bfbfbf;
$color-error: #ff8181;
$mercadopago-color: #009de2;
$border-gray: #ced4da;
$color-icon: #454545;
// $color-yellow: #f9a109;
$color-yellow: #ffdf24;
$color-red: #eb5757;
$color-placeholder: #bdbdbd;
$color-list: #fff0de;
$color-bordo: #80485b;
$color-title-items: #828282;
$color-yellow-hover: #ff6200;
$color-blue-button: #56ccf2;
$background-improvable: #fafafe;
$max-width: 1100px;
$max-width-section: 1050px;
$color-main: #121b22;
$color-sub: #161e29;
$first-responsive: 600px;

$color-gray-text: #565656;
$color-blue: #212b36;
$color-blue-hover: #304151;
$color-orange: #e06925;
$color-orange-hover: #b0511a;
$query-landing: 700px;
