@charset "UTF-8";
/* Definimos las Custom properties */
:root {
  /* Colores */
  --negro: #393939;
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

/* (Opcional) Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}
/* (Opcional) Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* (Opcional) Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
.upercase {
  text-transform: capitalize;
}

/* Reseteamos los margin y paddings de todas las etiquetas */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

*::before,
*::after {
  display: block;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  display: block;
  /* (Opcional) */
  object-fit: cover;
  /* (Opcional) */
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* (Opcional) Configuramos anclas suaves */
/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

i {
  display: block;
}

/* (Opcional) Configuramos el texto que seleccionamos */
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  outline: none;
  display: block;
  /* (Opcional) */
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  display: block;
  fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  height: 100vh;
  font-size: 100%;
  /* (Opcional) */
  hyphens: auto;
  /* (Opcional) */
  font-smooth: always;
  /* (Opcional) */
  -webkit-font-smoothing: antialiased;
  /* (Opcional) */
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: none; /* Esto oculta la barra de desplazamiento */
  color: #000;
}

select::-ms-expand {
  display: none; /*Evita que se muestre la flecha por defecto en versiones de IE*/
  outline: none;
  border: none;
}

select:focus {
  outline: none;
  border: none;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #d4d4d4 #ffffff;
}

/* Chrome, Edge and Safari */
::-webkit-scrollbar {
  width: 6px; /* Ancho del scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color del track */
}

::-webkit-scrollbar-thumb {
  background-color: #bdbdbd; /* Color del thumb */
  border-radius: 4px; /* Bordes redondeados del thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #bfbfbf; /* Color del thumb al pasar el mouse */
}

button {
  cursor: pointer;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 8em;
  color: #212b36;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.header__nav {
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.header__h2 {
  font-size: 1.5em;
  font-weight: 800;
  text-transform: uppercase;
}

.button {
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  transition: 0.5s ease;
}
.button:hover .button__i {
  transform: translateX(0.5em);
}
.button__action {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
.button__text {
  font-weight: 600;
  letter-spacing: 0.5px;
}
.button__orange {
  font-size: 1.2em;
  background: #e06925;
}
.button__orange:hover {
  background: #b0511a;
}
.button__blue {
  background: #212b36;
  font-size: 1.7em;
}
.button__blue:hover {
  background: #304151;
}
.button__i {
  transition: 0.5s ease;
  width: 1.3em;
}

.description {
  box-shadow: 0 4px 27px 0 rgba(0, 0, 0, 0.1098039216);
  width: 8em;
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
  padding: 0.4em;
}
.description:hover {
  box-shadow: 0 4px 27px 0 rgba(0, 0, 0, 0.2078431373);
}
.description__image {
  width: 4em;
  height: 4.5em;
}
.description__span {
  text-align: center;
  color: #565656;
  font-size: 0.8em;
  font-weight: bold;
}

.body {
  display: flex;
  font-family: var(--font-montserrat);
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
  background: #121b22;
  background: #fff;
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.main__section {
  width: 100%;
  max-width: 1050px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.main__title {
  width: 20em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5em;
}
.main__h1 {
  font-size: 2.6em;
  color: #212b36;
  font-weight: 700;
}
.main__span {
  color: #e06925;
}
.main__p {
  color: #565656;
  font-weight: 600;
  width: 16em;
}
.main__description {
  width: 100%;
  padding: 0 0 3.8em 0;
  max-width: 1050px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}

/*# sourceMappingURL=main.css.map */
