.header {
  color: $color-blue;
  width: 100%;
  @include flex(row, nowrap, center, center, 0);
  position: relative;
  height: 0;
  &__nav {
    min-height: 8em;
    position: absolute;
    top: 0;
    width: 100%;
    max-width: $max-width;
    @include flex(row, nowrap, space-between, center, 0);
  }
  &__h2 {
    font-size: 1.5em;
    font-weight: 800;
    text-transform: uppercase;
  }
}
